[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/scss"]
	path = vim/bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "vim/bundle/stylus"]
	path = vim/bundle/stylus
	url = https://github.com/wavded/vim-stylus
[submodule "vim/bundle/afterimage"]
	path = vim/bundle/afterimage
	url = git://github.com/tpope/vim-afterimage.git
